
<style>
    
    
</style>

<div id="activities-main" class="container-fluid">

    <h1>Activities</h1>

    <h3> Hello <%= user.name %>, what should we do today?</h3>
   
   
        <div class="form-group">
          <label for="exampleInputEmail1"></label>
          <input type="search" class="form-control" id="searchField" aria-describedby="searchHelp" placeholder="Search...">
          <small id="searchHelp" class="form-text text-muted">Search for your Activity</small>
        </div>
        <button type="search"  id="searchBtn" class="btn btn-primary">Search</button>
        <button type="search"  id="allActivitiesBtn" class="btn btn-info">All Activities</button>
        <span id="errorSpan"></span>

      <br>
      <div class="row  container-fluid row-adjust">
            <div class="col-lg-11 col-md-12 col-adjust container-fluid">
                <div id='results'>
                <% activities.forEach((activity) => { %>  <!-- new METHOD to go through object -->
                    <div id="<%= activity.id %>"  class="activity-card <%= activity.css %>" style="width: 18rem; " >
                        <div class="card-body">
                        <p class="card-title"><%= activity.type %></p>
                        </div>
                    </div> <!-- end activities -->
                    
                <% }) %>
                </div> <!-- end results -->
    </div><!-- column -->
</div><!-- row -->

</div>
<script src="/js/app.js"></script>
