<div class="text-center col-md-8 col-md-offset-2">
    <h1><span class="fa fa-lock"></span>NodeJS + Passport</h1>
    <h3>Login or Sign Up:</h3>
    <a href="/guru-login" class="btn btn-default">Login Guru</a>
    <a href="/guru-signup" class="btn btn-default">Signup Guru</a>
    <a href="/user-login" class="btn btn-default">Login Member</a>
    <a href="/user-signup" class="btn btn-default">Signup Member</a>
    <hr>
    <!-- <h4>Or Login With <a href="/auth/facebook" class="btn btn-primary">Facebook</a></h4> -->
</div>