<div class="row-fluid container-fluid">
    <div class="col-lg-12  col-md-12 col-sm-12 col-sm-offset-12">
        <div class="guru-box">
                <div class="guru-title"><p>GURU</p></div>
                <div class="guru-splash-text" id="myLogin-text">
                    <UL>
                        <LI><a href="/user-login"><p>Member Login </p></a></LI>
                        <LI><a href="/guru-login"><p>Guru Login</p></a></LI>
                    </UL>
                    <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>
                </div>
                <div class="guru-splash-login" ></div>






                
                
                
     </div>
    </div>
</div><!-- end row -->

<script>
    $('body').css('background-image', "url('/images/guru_beach_yoga.jpg')")

</script>