<div class="col-sm-6 col-sm-offset-3">
    <h1>Welcome to GURU</h1>





    <a href="/user-login"><h3>Member Login In </h3></a>
    <a href="/guru-login"><h3>Guru Login In</h3></a>
    <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>

</div>