<form method="POST" action="/gurus/<%=currentUser._id%>/studios">
  <label class="mr-sm-2" for="studio-input">My Studio:</label>
   <div class="col-6">
    <label for="exampleInputPassword1">Studio</label>
    <input type="text" class="form-control" id="guru-studio" name="studio" placeholder="Studio" value="">
   </div>
   <div class="col-auto my-1">
     <button type="submit" class="btn btn-primary" id="add-studio">Add</button> 
   </div>
 </form>