


.row {
    border: red 0px solid;
           
}

#guru_show_namecard{
    border: red 0px solid;
}

.guru-col-left{
    border: blue 0px solid;
    height:600px;
    float: left;
    display: inline-block;
    text-align:center;
}
.guru-col-left img{
   
    width:150px;
    margin: 100px 0px auto 0px;
}

.guru-col-right{
    display: inline-block;
    
}

#my_guru_card {
    border: green 0px solid;
    padding: 0px 100px 0px 75px;
  
}
#my_guru_card h2, h5{
    text-align: center;
}

.activity-card{
    height:150px;
    border-radius: 15px 15px 15px 15px;
}

.activity-card p{
    color: white;
    font-size:20pt;
    font-weight: bold;
    margin-top: 75px;
    text-shadow: -1px 0 white, 0 1px darkgrey, 1px 0 black, 0 -1px white;
    
}

/* ---- ACTIVITIES ------*/

.yoga{
    background-image: url("/images/yoga_3.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}

.pilates{
    background-image: url("/images/pilates_slide_3.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.martialarts{
    background-image: url("/images/martial_Arts_01.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.boxing{
    background-image: url("/images/boxing_2.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.running{
    background-image: url("/images/running_1.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.ldrunning{
    background-image: url("/images/running_ld2.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
    
    
}
.ldrunning p{
    font-size:18pt;
    font-weight: bold;
    text-shadow: 0px 0 white, 0 0px darkgrey, 0px 0 black, 0 0px white;
    margin-top: 55px;
}
.barre{
    background-image: url("/images/barre_1.png");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.freeweights{
    background-image: url("/images/free_weights_1.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.rowing{
    background-image: url("/images/rowing_1.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.cycling{
    background-image: url("/images/cycling_2.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.dance{
    background-image: url("/images/dance_music-girl_4.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.meditation{
    background-image: url("/images/meditation_1.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.spiritualawakening{
    background-image: url("/images/spiritual_awakening.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.moonceremony{
    background-image: url("/images/moon_ceremony.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.lunarhikes{
    background-image: url("/images/lunar_hikes.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.nutrition{
    background-image: url("/images/nutrition_2.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.tantricdance{
    background-image: url("/images/tantric_dance3.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.hotyoga{
    background-image: url("/images/hot yoga_4.png");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.natalyoga{
    background-image: url("/images/postnatal_yoga_1.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: center; 
    background-size: 105% 115%;

}
.natalyoga p{
    font-size:18pt;
    font-weight: bold;
    text-shadow: -1px 0 white, 0 1px darkgrey, 1px 0 black, 0 -1px white;
    margin-top: 55px;
    color: lightskyblue;
}
.pranayama{
    background-image: url("/images/Pranayama_1.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: center; 
    background-size: 105% 105%;
}
.midwife{
    background-image: url("/images/midwife__3.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: center; 
    background-size: 100% 125%;
}
.acrobatics{
    background-image: url("/images/acrobatics_4.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: 100% 105%;
}
.bodypump{
    background-image: url("/images/body_pump.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.crossfit{
    background-image: url("/images/crossfit_5.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.calisthenics{
    background-image: url("/images/Calisthenics_1.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.kettlebell{
    background-image: url("/images/kettlebell.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.core{
    background-image: url("/images/coretraining_1.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.zumba{
    background-image: url("/images/zumba_img.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.trx{
    background-image: url("/images/trx_5.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.chanting{
    background-image: url("/images/chanting_2.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.yoganidra{
    background-image: url("/images/yoga_Nidra_2.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.spinning{
    background-image: url("/images/spinning.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: 100% 120%;
}
.marathontraining{
    background-image: url("/images/running_marathon.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.fencing{
    background-image: url("/images/fencing_2.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.selfdefense{
    background-image: url("/images/self_defense_2.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}
.poledancing{
    background-image: url("/images/pole_dancing_3.jpg");
    background-repeat: no-repeat;
    background-attachment: ;
    background-position: top; 
    background-size: cover;
}

/* ---- END ACTIVITIES ------*/